sudo: false
language: python

python: "3.9"

cache:
  - pip
  - apt

# install dependencies
install:
  - pip install -r requirements.txt
  - pip install -r dev-requirements.txt

# run tests
script:
  - py.test -vv --cov=pidgin --cov-report xml tests

after_script:
  - python-codacy-coverage -r coverage.xml
